.footer {
  color: black;
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
  @media (max-width: 1200px) {
    height: 100px;
  }
  @media (max-width: $wm) {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
  }
}
.footer__menu {
  display: flex;
  justify-content: center;
  margin: 0 -35px;
  @media (max-width: 1200px) {
    margin: 0 -20px;
  }
  @media (max-width: 950px) {
    margin: 0 -15px;
  }
  @media (max-width: $wm) {
    flex-wrap: wrap;
    line-height: 2;
    margin-bottom: 20px;
  }
}
.footer__link {
  font-size: 18px;
  letter-spacing: 7px;
  margin: 0 35px;
  @media (max-width: 1200px) {
    margin: 0 20px;
    letter-spacing: 5px;
  }
  @media (max-width: 950px) {
    margin: 0 15px;
    letter-spacing: 2px;
  }
}
.footer__social {
  display: flex;
  align-items: center;
  margin: 0 -15px;
}
.footer__social-link {
  margin: 0 15px;
}